<div class="about">
  <h1>写真を共有する</h1>
  <p>SonicPictureはあなたの好きな写真を一瞬でアップロードし共有できるアプリケーションです。</br>
  自分の写真をみんなに見せたり、他の人の写真をあなたが見ることもできます。</p>
  
  <p class="start"><a href="
  <% if logged_in? %>
  <%= posts_path %>
  <% else %>
  <%= new_session_path %>
  <% end %>
  " class="btn btn-lg btn-default">今すぐ始める</a></p>
</div>